html,body {
    height: 100%;
    background-color: white;
}

.container {
    margin: 0 30px;
}

.preNode {
    white-space: break-spaces !important;
    font: inherit !important;
    margin-bottom: 0 !important;

}

.min-height-100 {
    min-height: 100%;
}

#chatwindow-chat  {
    border: 1px solid black;
    height: 600px;
    margin-bottom: 15px;
}

#trywindow-chats {
    border: 1px solid black;
    height: 500px;
}

#chatwindow-btn button, #trywindow-btn button {
    margin: 10px 10px 10px 0;
    width: 100%
}

#chatwindow-row, #trywindow-row {
    margin-top: 15px
}

#chatwindow-instructions, #instructions, #trywindow-instructions {
    text-align: center;
}

.instruction-p {
    font-size: 15px;
}

#chatwindow-input, #trywindow-input {
    border-top: 1px solid black;
}

#chatwindow-btn, #trywindow-btn {
    border-radius: 0;
    font-size: 25px;
}

#chatwindow-chats, #trywindow-btn {
    height: 89.8%;
    overflow-y: scroll;
}

#chatwindow-header, #trywindow-header {
    background-color: #939799;
    padding: 7px;
    width: 80%;
    margin: 5px
}

.userConvoItem {
    margin: 5px;
    text-align: right;
    border-radius: 4px;
    width:80%;
    background-color: darkgray;
    padding: 5px;
}

.modelConvoItem {
    margin: 5px;
    text-align: left;
    border-radius: 4px;
    width: 80%;
    background-color: darkseagreen;
    padding: 5px;
}

textarea {
    resize: none;
    border: 0 !important;
    background-color: #E5E4E2 !important;
}

textarea:focus {
    outline:none;
}

#wordcount-div {
    font-size: 14px;
}

#instructions, #instructions-2 {
    margin-top: 30px;
}