{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ChatGPT Emulator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="Stylesheet" type="text/css" href="{% static 'site.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <script src="{% static 'site.js' %}"></script>
    </head>
    <body>


        <div class="container">
            <div class="row" id="chatwindow-instructions">
                <div id="instructions">
                    <h3>Instructions</h3>
                    <p>Welcome! For this part of the study, you will write a short story with the help of ChatGPT.</p>
                    <p>ChatGPT is an artificial intelligence (AI) computer program. It can understand what people write, and then write back in a way that seems like a real person. This helps it do things like chat, write text, and complete sentences.</p>
                    <p>On the next page, you will see a short story written by ChatGPT. Collaborate with ChatGPT to improve your story by making specific requests in the text box.</p>
                    <p>Aim to work on the story for at least 10 minutes, make it around 300 words, and be as creative as possible. </p>
                    <p>Once you're satisfied with your story, paste it in the submission box and click "Submit."</p>                    
                    <button class="btn btn-primary" onclick="nextPage1()">Continue</button>
                </div>
                <div id="instructions-2" style="display:none">
                    <h4>Best Practices for Interacting with ChatGPT</h4>
                    <p><strong>1. Be specific: </strong> State requirements like word count, tone, and themes for best responses.</p>
                    <p><strong>2. Use open-ended questions: </strong>Encourage creativity by asking open-ended questions. </p>
                    <p><strong>3. Brainstorm ideas: </strong>Use ChatGPT for idea generation, refining, and editing. </p>
                    <p><strong>4. Request iterations: </strong>Ask for alternatives or revisions if unsatisfied with the initial response.</p>
                    <button class="btn btn-primary" onclick="nextPage2()">Next</button>
                </div>
            </div>
            <div class="row" id="chatwindow-row" style = "display:none">
                <div id="chatwindow-instructions" >
                    <h5>Write a short story with the help of ChatGPT.</h6>
                        <p>On the next page, you will see a short story written by ChatGPT. Collaborate with ChatGPT to improve your story by making specific requests in the text box.</p>
                        <p>Aim to work on the story for at least 10 minutes, make it around 300 words, and be as creative as possible. </p>
                        <p>Once you're satisfied with your story, paste it in the submission box and click "Submit."</p>
                </div>
                <div class="col-sm-1"></div>

                <div class="col-sm-8 my-auto justify-content-center">


                    <div id="chatwindow" >
                        {% comment %} <div id="chatwindow-instructions">
                            <h5>Write a short story with the help of ChatGPT.</h6>
                                <p>On the next page, you will see a short story written by ChatGPT. Collaborate with ChatGPT to improve your story by making specific requests in the text box.</p>
                                <p>Aim to work on the story for at least 10 minutes, make it around 300 words, and be as creative as possible. </p>
                                <p>Once you're satisfied with your story, paste it in the submission box and click "Submit."</p>
                        </div> {% endcomment %}

                        <div id="chatwindow-chat">
                            <div id="chatwindow-chats">
                                <h6 id="chatwindow-header"> Use this story to start your conversation with ChatGPT </h6>
                            </div>
                            <div class="input-group mb-3" id="chatwindow-input">
                                <textarea rows="2" class="form-control" id="chatwindow-chatinput" placeholder="Enter your question for ChatGPT"></textarea>
                                <div class="input-group-append">
                                  <button class="btn btn-success h-100" id="chatwindow-btn" type="button" onclick="chatSend()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                                </div>
                              </div>
                        </div>


                    </div>

                </div>
                <div class="col-sm-3 my-auto justify-content-center">
                    <div id="storysubmitwindow" style="display:none">
                        <h6>Please paste your final story here. Submit your story by pressing the "Submit" button</h6>
                        <textarea rows="6" class="form-control" id="storysubmitwindow-textarea" placeholder="Enter your final story"></textarea>
                        <div id="wordcount-div">
                            <span>Word Count : </span><span id="wordcount-count">0</span>
                        </div>
                        <div id="chatwindow-btn">
                            <button class="btn btn-primary" onclick="taskComplete()" id="submit-btn" disabled>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
